.background    { background: rgb(100, 195, 50);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(200, 25, 25); }
.wall          { background: rgb(110, 110, 110);   }
.floater       { background: rgb(160, 120, 25); }

.actor  { position: absolute;  }
.coin   { background: rgb(232, 222, 34); }
.player { background: rgb(188, 166, 132); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
